.addpr-con{
  width: 100%;
  height: 100%;
}
.prodm{
  background-color: red;
  width: 1000px;
  height: 700px;
  margin-left: 50px;
}
.form-field{
  width: 100%;
  height: 100%;
  margin-left: 50px;
}
.lab{
  width: 200px;
  margin-left: 50px;
}
.inp{
  width: 250px;
  margin-top: -1px;
  margin-left: 15px;
}
.forms-field{
  margin-top: -60px;
  margin-left: 340px;
}
.lab1{
  width: 200px;
  margin-left: 30px;
  margin-bottom: -100px;
  font-weight: bold;
}
.inp1{
  width: 250px;
  margin-top: -1px;
  margin-left: 15px;
}
.for{
  margin-top: -60px;
  margin-left: 600px;
}
.lab2{
  width: 200px;
  margin-left: 25px;
  margin-bottom: -100px;
  font-weight: bold;
}
.inp2{
  width: 250px;
  margin-top: -1px;
  margin-left: 15px;
}

.form1{
  margin-left: 70px;
  margin-top: 15px;
}
.inp3{
  width: 350px;
}